# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/

# Prisma
backend/prisma/*.db

# Testing
coverage/
playwright-report/
test-results/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Misc
*.local

# TypeScript incremental build info
*.tsbuildinfo
